
Assignments/A3-OfflineGestureRecognizer/GestureRecognizer/.ipynb_checkpoints/GestureRecognizer-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/MatplotlibPyplotTutorial-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/NumpyTutorial-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/PythonTutorial-checkpoint.ipynb
