
Assignments/A3-OfflineGestureRecognizer/GestureRecognizer/.ipynb_checkpoints/GestureRecognizer-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/MatplotlibPyplotTutorial-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/NumpyTutorial-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/PythonTutorial-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/MyFirstNotebook-checkpoint.ipynb
Assignments/A4-SVMGestureRecognizer/.ipynb_checkpoints/SVMGestureRecognizer-checkpoint.ipynb
Assignments/A3-OfflineGestureRecognizer/GestureRecorder/Gestures/fulldatastream.csv
Assignments/A3-OfflineGestureRecognizer/GestureRecorder/Gestures/Backhand Tennis_1557771395602_148375.csv
Assignments/A3-OfflineGestureRecognizer/GestureRecorder/Gestures/Backhand Tennis_1557767881942_740.csv
Assignments/A3-OfflineGestureRecognizer/GestureRecorder/Gestures/Backhand Tennis_1557767858815_262.csv
Assignments/A3-OfflineGestureRecognizer/GestureRecorder/Gestures/Backhand Tennis_1557767342792_395.csv
Notebooks/.ipynb_checkpoints/PlayingWithSignals-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/L12-PlayingWithSignals-InClassExercises-checkpoint.ipynb
